<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>
<body>
    <!-- Template base -->
    <div class="container">
        <nav>
            {% block navbar %}
                
            {% endblock %}
        </nav> 
        <main>
            {% block conteudo %}
                
            {% endblock %}
        </main>
    </div>
</body>
</html>
